<div class="logoHospital">
    <img src="/images/logo hospital.png" alt="" width="99px">
    <h1>Bienvenido al {{title}}</h1>
</div>
<div class="linkBotones">
    <a href="/pacientes" class="linkSub">Listado de pacientes</a>
    <a href="/medicos" class="linkSub">Listado de medicos</a>
    <a href="/citas">Listado de citas</a>
</div>
<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel" style="margin-top: 4em;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/Los-mejores-hospitales-del-mundo-2023.png" class="d-block w-100 imagen" alt="..." >
    </div>
    <div class="carousel-item">
      <img src="/images/papelmatic-higiene-profesional-centros-medicos-evolucion-higiene-1080x675.jpg" class="d-block w-100 imagen" alt="..." width="100">
    </div>
    <div class="carousel-item">
      <img src="/images/infraestructura-en-salud.jpg" class="d-block w-100 imagen" alt="..." width="100">
    </div>
    <div class="carousel-item">
      <img src="/images/economia-hospitales-pandemia-gr.jpg" class="d-block w-100 imagen" alt="..." width="100">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
